<div>
  <h3> Liste des produits </h3>
  <!-- Chercher un produit -->
  <div>
    <label>mot cle :</label>
    <input type="text" [(ngModel)]="motCle"/>
    <button (click)=" newSearch();searchProduits()">Chercher</button>
  </div>
  <!-- Lister les produits -->
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Numero Produit</th><th>Type</th><th>Intituler</th><th>Description</th>
        <th>Prix</th><th>Oppertaion</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of pageProduits?.content">
        <td>{{p.numProduit}}</td>
        <td>{{p.intituler}}</td><td>{{p.description}}</td>
        <td>{{p.prix}}</td>
        <td>
          <input type="button" class="btn btn-warning" value="Modifier" (click)="GetUpdateProduit(p)" />
          <input   type="button" class="btn btn-danger" value="Produits" (click)="ShowPackProduits(p)" /><!--*ngIf="typeProduit(p)=='PACK'"-->
          <input type="button" class="btn btn-danger" value="Supprimer" (click)="deleteProduit(p.numProduit)" />
        </td>

      </tr>
      </tbody>
    </table>
    <ul class ="nav nav-pillis">

      <li [ngClass]="{'active':i==Currentpage}" *ngFor="let p of pages; let indexPage=index">
        <a (click)="goToPage(indexPage)"> {{indexPage}} </a>
      </li>
    </ul>
  </div>
</div>

<!-- PAck -->
<div >
  <h3> Liste des produits du pack : {{prodDetailPack?.intituler}}</h3>
  <table>
    <tr>
      <td>Produit</td><td>Ajouter</td>
    </tr>
    <tr>
      <td>
        <select [(ngModel)]="selectedProduit" >
          <option disabled selected>Please select...</option>
          <option *ngFor="let p of listProduit" [ngValue]="p">{{p.numProduit}}:{{p.intituler}}</option>
        </select>
      </td>
      <td>
        <input type="button" class="btn btn-danger" value="+"
               (click)="addProduitToPack(prodDetailPack)" />
      </td>

    </tr>
  </table>
  <table class="table table-striped" border="1">
    <thead>
    <tr>
      <th>Numero Produit</th><th>Intituler</th><th>Description</th>
      <th>Prix</th>
      <th>Operation</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let prod of prodDetailPack?.listProduit">
      <td>{{prod.numProduit}}</td>
      <td>{{prod.intituler}}</td><td>{{prod.description}}</td>
      <td>{{prod.prix}}</td>
      <td>
        <input type="button" class="btn btn-danger" value="X" (click)="removeProduitFromPack(prodDetailPack,prod)"  />
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- gérer un produit -->
<div>
  <div class="panel panel-default">
    <div class="panel-heading">Nouveau Produit </div>
    <div class="panel-body">
      <div class="form-group" *ngIf="produit.typeProduit=='PACK'">
        <label class="col-md-4 control-label">Choisir les Produits:</label>
        <div class="col-md-8">
          <select class="form-control"  [(ngModel)]="produit.ListProduit" multiple>
            <option *ngFor="let p of pageProduits?.content" value="{{p}}">{{p.intituler}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label">Intituler:</label>
        <div class="col-md-8">
          <input type="text" class="form-control" placeholder="Intituler" [(ngModel)]="produit.intituler">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label">Description:</label>
        <div class="col-md-8">
          <input type="text" class="form-control"placeholder="Description" [(ngModel)]="produit.description">
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4 control-label">Prix:</label>
        <div class="col-md-8">
          <input type="text" class="form-control"  placeholder="Prix" [(ngModel)]="produit.prix">
        </div>
      </div>
      <div class="form-group">
        <input type="button" id="btnSave" class="form-control btn-space" value="Sauvgarder" (click)="gestionProduit()" />
      </div>
    </div>
  </div>
</div>

