

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Liste des Clients</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Nouveau Client</a></li>
   </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
   <!-- Clients -->
<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      Les clients
    </div>
    <div class="panel-body">
      <!-- Chercher un client -->
      <div>
        potentiel <input type="checkbox" name="typeClient" [ngModel]="typeClientP">
        Effectif <input type="checkbox" name="typeClient" [ngModel]="typeClientE">
        Physique <input type="checkbox" name="typeClient" [ngModel]="typeClientPH">
        Morale <input type="checkbox" name="typeClient" [ngModel]="typeClientM">
      </div>
      <!-- Lister les clients -->
      <div>
        <table class="table table-striped"  >
          <thead>
          <tr>
            <th>code Client</th><th>CIN</th><th>Nom</th><th>Statut juridique</th>
            <th>Tele portable</th><th>Tele fixe</th><th>Adresse</th>
            <th>Operations</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let p of pageClients">
            <td>{{p.codeClient}}</td>
            <td>{{p.cin}}</td>
            <td>{{p.nom}} {{p.prenom}} {{p.nomClient}}</td>
            <td>{{p.statutJuridique}}</td>
            <td>{{p.numTeleFixe}}</td>
            <td>{{p.numTelePortable}}</td>
            <td>{{p.adress}}</td>
            <td>
              <input type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#exampleModal" value="Lister Enfants" (click)="GetCurrentClient(p)" />
              <input  type="button" class="btn btn-success btn-xs" value="Lister commandes" (click)="DetailCommande(p.codeClient)" />
              <input type="button" class="btn btn-warning btn-xs" value="Modifier" (click)="GetUpdateClient(p)" />
              <input type="button" class="btn btn-danger btn-xs" value="X" (click)="deleteClient(p.codeClient)" />
            </td>

          </tr>
          </tbody>
        </table>
        <ul class ="nav nav-pillis">

          <li [ngClass]="{'active':i==Currentpage}" *ngFor="let p of pages; let indexPage=index">
            <a (click)="goToPage(indexPage)"> {{indexPage}} </a>
          </li>
        </ul>
      </div>
    </div>
  </div>


</div>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
        <!-- gérer un Client -->
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">Nouveau Client </div>
      <div class="panel-body">
        <div class="form-group">
          <label class="col-md-4 control-label">type Client: </label>
          <div class="col-md-8">

            <select [(ngModel)]="typeNewClient" (click)="test">
              <option disabled selected>Please select...</option>
              <option value="P"> Physique </option>
              <option value="M"> Moral </option>
            </select>
          </div>
        </div>
        <div *ngIf="typeNewClient=='P'" class="form-group">
          <label class="col-md-4 control-label">CIN:</label>
          <div class="col-md-8">
            <input type="text" class="form-control"  placeholder="cin" [(ngModel)]="client.cin">
          </div>
        </div>
        <div *ngIf="typeNewClient=='P'" class="form-group">
          <label class="col-md-4 control-label">Nom:</label>
          <div class="col-md-8">
            <input type="text" class="form-control"  placeholder="nom" [(ngModel)]="client.nom">
          </div>
        </div>
       
        <div *ngIf="typeNewClient=='P'" class="form-group">
          <label class="col-md-4 control-label">Prenom:</label>
          <div class="col-md-8">
            <input type="text" class="form-control"  placeholder="Prenom" [(ngModel)]="client.prenom">
          </div>
        </div>
        <div *ngIf="typeNewClient=='M'" class="form-group">
          <label class="col-md-4 control-label">NomC:</label>
          <div class="col-md-8">
            <input type="text" class="form-control"  placeholder="nom" [(ngModel)]="client.nomClient">
          </div>
        </div>
        <div *ngIf="typeNewClient=='M'" class="form-group">
          <label class="col-md-4 control-label">statut Juridique:</label>
          <div class="col-md-8">
            <input type="text" class="form-control"  placeholder="nom" [(ngModel)]="client.statutJuridique">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">Adress:</label>
          <div class="col-md-8">
            <input type="text" class="form-control" placeholder="adress" [(ngModel)]="client.adress">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">Tele portable:</label>
          <div class="col-md-8">
            <input type="text" class="form-control" placeholder="numTelePortable" [(ngModel)]="client.numTelePortable">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label">Tele Fixe:</label>
          <div class="col-md-8">
            <input type="text" class="form-control" placeholder="numTeleFixe" [(ngModel)]="client.numTeleFixe">
          </div>
        </div>

        <div class="form-group">
          <input type="button" id="btnSaveClient" class="form-control btn-space" value="Sauvgarder" (click)="gestionClient()" />
          <input type="button"  class="form-control btn-space" />
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>

</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> Enfant du Client {{selectedClient.nom}} {{selectedClient.prenom}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div>

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#enfant" aria-controls="enfant" role="tab" data-toggle="tab">Liste des enfants</a></li>
            <li role="presentation"><a href="#nvEnfant" aria-controls="nvEnfant" role="tab" data-toggle="tab">Nouveau enfant</a></li>
           </ul>
        
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="enfant">
                  <div class="row">
                    <div>
                      <table class="table table-striped"  >
                        <thead>
                        <tr>
                          <th>code Enfant</th><th>Nom Complet</th><th>Date Naissance</th>
                          <th>Operations</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let e of selectedClient.listEnfant">
                          <td>{{e.codeEnfant}}</td>
                          <td> {{e.nom}} {{e.prenom}}</td>
                          <td>{{e.dateNaissance}}</td>
                          <td>
                            <input type="button" class="btn btn-warning btn-xs" value="edit" (click)="GetUpdateEnfant(e)" />
                            <input type="button" class="btn btn-danger btn-xs" value="X" (click)="deleteEnfant(e.numEnfant)" />
                          </td>
                    
                        </tr>
                        </tbody>
                      </table>
                      <ul class ="nav nav-pillis">
                    
                        <li [ngClass]="{'active':i==Currentpage}" *ngFor="let p of pages; let indexPage=index">
                          <a (click)="goToPage(indexPage)"> {{indexPage}} </a>
                        </li>
                      </ul>
                    </div>
                  </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="nvEnfant">
              
                <!-- gérer un Enfant -->
                  <div>
                    <div class="panel panel-default">
                      <div class="panel-heading">Nouveau  </div>
                      <div class="panel-body">

                        <div  class="form-group">
                          <label class="col-md-4 control-label">Nom:</label>
                          <div class="col-md-8">
                            <input type="text" class="form-control"  placeholder="nom" [(ngModel)]="enfant.nom">
                          </div>
                        </div>

                        <div  class="form-group">
                          <label class="col-md-4 control-label">Prenom:</label>
                          <div class="col-md-8">
                            <input type="text" class="form-control"  placeholder="Prenom" [(ngModel)]="enfant.prenom">
                          </div>
                        </div>
                        <div  class="form-group">
                          <label class="col-md-4 control-label">Date de naissance:</label>
                          <div class="col-md-8">
                            <input type="date" class="form-control"  placeholder="dateNaissance" [(ngModel)]="enfant.dateNaissance">
                          </div>
                        </div>

                        <div class="form-group">
                          <input type="button" id="btnSaveEnfant" class="form-control btn-space" value="Sauvgarder" (click)="gestionEnfant()" />
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

