<div>
  <h3> Liste des Seances </h3>
  <!-- Lister les Seances -->
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Numero Seance </th>
        <th>Oppertaion</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of pageSeances">
        <td>{{p.codeSeance}}</td>
        <td>
          <input type="button" class="btn btn-warning" value="Modifier" (click)="GetUpdateSeance(p)" />
          <input type="button" class="btn btn-danger" value="Supprimer" (click)="deleteSeance(p.numSeance)" />
        </td>

      </tr>
      </tbody>
    </table>
    <ul class ="nav nav-pillis">

      <li [ngClass]="{'active':i==Currentpage}" *ngFor="let p of pages; let indexPage=index">
        <a (click)="goToPage(indexPage)"> {{indexPage}} </a>
      </li>
    </ul>
  </div>
</div>


<!-- gérer un Seance -->
<div>
  <div class="panel panel-default">
    <div class="panel-heading">Nouveau Seance </div>
    <div class="panel-body">
      <div class="form-group">
        <label class="col-md-4 control-label">Intituler:</label>
        <div class="col-md-8">
          <input type="text" class="form-control" placeholder="Intituler" [(ngModel)]="Seance.intituler">
        </div>
      </div>

      <div class="form-group">
        <input type="button" id="btnSave" class="form-control btn-space" value="Sauvgarder" (click)="gestionSeance()" />
      </div>
    </div>
  </div>
</div>

