<div>
  <h3> Liste des Programmes </h3>
  <!-- Lister les Programmes -->
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Numero Programme </th>
        <th>Oppertaion</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of pageProgrammes">
        <td>{{p.codeProgramme}}</td>
        <td>
          <input type="button" class="btn btn-warning" value="Modifier" (click)="GetUpdateProgramme(p)" />
          <input type="button" class="btn btn-danger" value="Supprimer" (click)="deleteProgramme(p.numProgramme)" />
        </td>

      </tr>
      </tbody>
    </table>
    <ul class ="nav nav-pillis">

      <li [ngClass]="{'active':i==Currentpage}" *ngFor="let p of pages; let indexPage=index">
        <a (click)="goToPage(indexPage)"> {{indexPage}} </a>
      </li>
    </ul>
  </div>
</div>


<!-- gérer un Programme -->
<div>
  <div class="panel panel-default">
    <div class="panel-heading">Nouveau Programme </div>
    <div class="panel-body">
      <div class="form-group">
        <label class="col-md-4 control-label">Intituler:</label>
        <div class="col-md-8">
          <input type="text" class="form-control" placeholder="Intituler" [(ngModel)]="Programme.intituler">
        </div>
      </div>

      <div class="form-group">
        <input type="button" id="btnSave" class="form-control btn-space" value="Sauvgarder" (click)="gestionProgramme()" />
      </div>
    </div>
  </div>
</div>

